{% extends 'home/base.html' %}

{% block title %}
    Nosotros
{% endblock title %}

{% block content %}
    <div class="text-center display-6 mb-5 mt-3">
                      <!-- Content Row-->
                <div class="row gx-4 gx-lg-5">
                {% include 'home/card.html' with tarjeta="¿Quien realizo el proyecto?" %}
             <p>Verona nació despues de haber viajado por varias de las ciudades de Italia, en busca de los mejores sabores, tanto para bebidas, postres y panes. Por ello te invitamos a que pruebes nuestros productos y con esta experiencia puedas viajar a aquella ciudad que nos inspiro a realizar nuestro emprendiemiento</p>
{% endblock content %}