<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>veterinaria</h1>
  {%block title%}
  <h2>Consentidos</h2>
  {%endblock title%}

  {%block content%}
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam officiis voluptatibus totam consectetur enim voluptatum ipsum reiciendis modi veniam. Sed necessitatibus doloremque numquam in amet doloribus officia, vitae pariatur laudantium.</p>
  {%endblock content%}


</body>
</html>