                <div class="col-md-12 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">{{tarjeta}}</h2>
                            <p class="card-text">Nadia es mi nombre, tengo 21 años y me estoy introduciendo en el mundo de las tecnologias con este primer proyecto realizado con python</p>
                        </div>
                        <div class="card-footer"><p><strong>¿Verona?</strong></p>
                        </div>
            
                    </div>
                </div>