{% extends 'home/base.html' %}
{% load static%}

{% block content %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
              <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src ="{%static "home/imagenes/panaderia.jpg" %}" alt="..." /></div>
              <div class="col-lg-5">
              <h1 class="font-weight-light">¡Bienvenidos a Verona!</h1>
                 <p>Esperamos que puedas disfrutar de la experiencia de probar nuestros productos...¡sientete libre de elegir lo que desees! </p>

                </div>
                </div>
            
                <!-- Call to Action-->
                <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Puedes encargar panes, bebidas e inluso postres para llevar!...estaremos ampliando nuestro stock de productos!</p></div>
                </div>
           
<a href="{% url 'home:about' %}"class ="btn btn-info">¿quienes somos?</a>

{% endblock content %}