{% extends 'bebidas/base.html' %}

{% block content %}
    <div class="py-4">
        <form action="" method="get">
            <input type="text" name="buscar" placeholder="Buscar producto">
            <button type="submit">Buscar</button>
        </form>
    </div>
    <ul>
        {% for bebida in object_list %}
            <li>{{ bebida.nombre }}</li>
            
            <a href="{% url 'bebidas:bebidas_detail' bebidas.id %}">Ver detalle</a>
            <a href="{% url 'bebidas:bebidas_update' bebidas.id %}">Actualizar</a>
            <a href="{% url 'bebidas:bebidas_delete' bebidas.id %}">Eliminar</a>
        {% endfor %}
    </ul>

    <a href="{% url 'bebidas:bebidas_create' %}" class="btn btn-dark">Crear bebida</a>
    <a href="{% url 'bebidas:index' %}" class="btn btn-dark">Volver a inicio</a>
{% endblock content %}