{% extends "bebidas/base.html" %}
{%load static%}
{% block content %}
{% block content_title %}
     Seccion Bebidas               
{% endblock content_title %}

<h3>
  <a href="{% url 'bebidas:bebidas_list' %}">Bebidas</a>
  <a href="{% url 'bebidas:tiposdebebidas_list' %}">Tipos de Bebidas</a>
</h3>

<div class="col-md-6">
            <img class="img-fluid float-right"
                 src=" {% static 'home/imagenes/bebidas.jpg' %}"
                 style="max-width: 400px" />
        </div>

{% endblock content %}