{%extends 'bebidas/base.html'%}

{%block panificacion%}

<div class="py-4">
        <form action="" method="get">
            <input type="text" name="buscar" placeholder="Buscar producto">
        </form>
    </div>

{%for tiposdepan in objec_list%}
<ul>
   <li>{{producto.nombre}}</li>
   <a href="{% url 'tiposdebebidas:tiposdebebidas_detail'bebidas.id %}">Ver detalle</a>
   <a href="{%url 'tiposdebebidas:tiposdebebidas_update' bebidas.id %}">Actualizar</a>
   <a href="{%url 'tiposdebebidas:tiposdebebidas_delete' bebidas.id %}">Eliminar</a>
</ul>
{%endfor%}
<a href="{%url 'tiposdebebidas:tiposdebebidas_create' %}" class="btn btn-dark">Crear panificacion</a>
<a href="{%url 'bebidas:index' %}" class="btn btn-dark">Volver a inicio</a>

{%endblock panificacion%}