{%extends 'postres/base.html'%}

{%block postres%}

<ul>
    <li><strong>Nombre:</strong> {{ object.nombre }}</li>
    <li><strong>Categoría:</strong> {{ object.categoria }}</li>  
    <li><strong>Cantidad:</strong> {{ object.cantidad }}
    <li><strong>Precio:</strong> {{ object.precio }}
    <li><strong>Descripción:</strong> {{ object.descripcion }}
    <li><strong>Fecha de actualización:</strong> {{ object.fecha_actualizacion }}
    </li>
  
</ul>
{%endfor%}

<a href="{%url 'postres:index' %}" class="btn btn-dark">Volver a inicio</a>

{%endblock postres%}