{%extends 'postres/base.html'%}

{%block postres%}

<div class="py-4">
        <form action="" method="get">
            <input type="text" name="buscar" placeholder="Buscar producto">
        </form>
    </div>

{%for postres in objec_list%}
<ul>
   <li>{{producto.nombre}}</li>
   <a href="{% url 'tiposdepostres:tiposdepostres_detail' tiposdepostres.id %}">Ver detalle</a>
   <a href="{%url 'tiposdepostres:tiposdepostres_update' tiposdepostres.id %}">Actualizar</a>
   <a href="{%url 'tiposdepostres:tiposdepostres_delete' tiposdepostres.id %}">Eliminar</a>
</ul>
{%endfor%}
<a href="{%url 'tiposdepostres:postres_create' %}" class="btn btn-dark">Crear tipos de postres</a>
<a href="{%url 'postres:index' %}" class="btn btn-dark">Volver a inicio</a>

{%endblock postres%}