{% extends "panificacion/base.html" %}
{%load static%}
{% block content %}
{% block content_title %}
  seccion panificacion          
{% endblock content_title %}

<h3>
  <a href="{% url 'panificacion:panificacion_list' %}">Panificacion</a>

  <a href="{% url 'panificacion:tiposdepan_list' %}">Elegir panificacion</a>
</h3>

<div class="col-md-6">
            <img class="img-fluid float-right"
                 src=" {% static 'home/imagenes/panes.jpg' %}"
                 style="max-width: 400px" />
        </div>
{%endblock content %}