{% extends 'panificacion/base.html' %}

{% block content %}

<div class="py-4">
    <form action="" method="get">
        <input type="text" name="buscar" placeholder="Buscar producto">
    </form>
</div>

{% for panificacion in object_list %}
<ul>
   <li>{{ panificacion.nombre }}</li>
   <a href="{% url 'panificacion:panificacion_detail' panificacion.id %}">Ver detalle</a>
   <a href="{% url 'panificacion:panificacion_update' panificacion.id %}">Actualizar</a>
   <a href="{% url 'panificacion:panificacion_delete' panificacion.id %}">Eliminar</a>
</ul>
{% endfor %}

<a href="{% url 'panificacion:panificacion_create' %}" class="btn btn-dark">Crear panificación</a>
<a href="{% url 'panificacion:index' %}" class="btn btn-dark">Volver a inicio</a>

{% endblock content %}