{% extends 'panificacion/base.html' %}

{% block content %}
<ul>
    <li><strong>Nombre:</strong> {{ object.nombre }}</li>
    <li><strong>Categoría:</strong> {{ object.categoria }}</li>  
    <li><strong>Cantidad:</strong> {{ object.cantidad }}</li>
    <li><strong>Precio:</strong> {{ object.precio }}</li>
    <li><strong>Descripción:</strong> {{ object.descripcion }}</li>
    <li><strong>Fecha de actualización:</strong> {{ object.fecha_actualizacion }}</li>
</ul>

<a href="{% url 'panificacion:index' %}" class="btn btn-dark">Volver a inicio</a>

{% endblock content %}